<%= form_for(@user_interaction) do |f| %>
  <% if @user_interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_interaction.errors.count, "error") %> prohibited this user_interaction from being saved:</h2>

      <ul>
      <% @user_interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner %><br>
    <%= f.number_field :owner %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= User.find(current_user).id %>
  </div>
  <div class="field">
    <%= f.hidden_field :act_id, :value => "3" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
