<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @act.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @act.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @act.date %>
</p>

<%= link_to 'Edit', edit_act_path(@act) %> |
<%= link_to 'Back', acts_path %>
